{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Bitte beantworten Sie die folgenden Fragen{% endblock %}

{% block content %}


{% formfield player.q_age%}
{% formfield player.q_gender%}
{% formfield player.q_study_level%}
{% formfield player.q_student%}

{% formfield player.q_study_field%}
{% formfield player.q_semester%}
{% formfield player.q_n_experiment%}
{% formfield player.q_similar_experiment%}
{% formfield player.q_other_notes%}


<br>Bitte klicken Sie nach Beantwortung der Fragen auf "Weiter".<br><br>

{% next_button %}
{% endblock %}
