{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Bitte beantworten Sie die folgenden Fragen{% endblock %}

{% block content %}

<div class="form-group required">
    
        
            <label class="col-form-label" for="id_q_all_other_players_0">Wie sehr war Ihre Preisentscheidung von den Preisentscheidungen Ihrer Mitspieler in der letzten Runde abhängig?</label>
            <div class="controls  field-q_all_other_players">
                <div class="form-check form-check-inline">
                <label for="id_q_all_other_players_0" class="form-check-label">gar nicht abhängig &nbsp;</label>
                <input type="radio" name="q_all_other_players" value="0" required="" id="id_q_all_other_players_0" class="form-check-input">

                
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_all_other_players" value="1" required="" id="id_q_all_other_players_1" class="form-check-input">

                <label for="id_q_all_other_players_1" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_all_other_players" value="2" required="" id="id_q_all_other_players_2" class="form-check-input">

                <label for="id_q_all_other_players_2" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_all_other_players" value="3" required="" id="id_q_all_other_players_3" class="form-check-input">

                <label for="id_q_all_other_players_3" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_all_other_players" value="4" required="" id="id_q_all_other_players_4" class="form-check-input">

                <label for="id_q_all_other_players_4" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_all_other_players" value="5" required="" id="id_q_all_other_players_5" class="form-check-input">

                <label for="id_q_all_other_players_5" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_all_other_players" value="6" required="" id="id_q_all_other_players_6" class="form-check-input">

                <label for="id_q_all_other_players_6" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_all_other_players" value="7" required="" id="id_q_all_other_players_7" class="form-check-input">

                <label for="id_q_all_other_players_7" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_all_other_players" value="8" required="" id="id_q_all_other_players_8" class="form-check-input">

                <label for="id_q_all_other_players_8" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_all_other_players" value="9" required="" id="id_q_all_other_players_9" class="form-check-input">

                <label for="id_q_all_other_players_9" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_all_other_players" value="10" required="" id="id_q_all_other_players_10" class="form-check-input">

                <label for="id_q_all_other_players_10" class="form-check-label">sehr stark abhängig</label>
            </div>
                

                
            </div>
        
    
</div>


{% formfield player.q_all_communication%}


Nehmen Sie an Sie wüssten, dass die anderen Marktteilnehmer einen Preis von 10 Talern gewählt haben. Wie sozial angemessen wäre es in dieser Situation einen eigenen Preis von ...
{% formfield player.q_socially_appropriate_10%}
{% formfield player.q_socially_appropriate_9%}
{% formfield player.q_socially_appropriate_1%}


<br>Bitte klicken Sie nach Beantwortung der Fragen auf "Weiter".<br><br>

{% next_button %}
{% endblock %}