{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Preisempfehlungen{% endblock %}

{% block content %}


Bevor Sie in jeder Runde Ihren Preis wählen, erhalten Sie von einem Computeralgorithmus eine konkrete <b>Preisempfehlung</b>.
Alle drei Firmen im Markt erhalten dieselbe Preisempfehlung.
Die Empfehlung des Algorithmus basiert auf den vorherigen Preisen aller Teilnehmer in Ihrem Markt und kann sich somit in jeder Runde ändern. 

    <br><br>
<b>Wichtig:</b> Bei der Preisempfehlung handelt es sich lediglich um einen <b>Vorschlag</b>. Es steht Ihnen frei, einen anderen Preis als den empfohlenen zu setzen.<br><br>
Der Algorithmus zielt darauf ab, die <b>Gesamtgewinne aller Firmen über alle Runden hinweg zu maximieren.</b>
 Es wird Ihnen also eine Empfehlung ausgesprochen, die allen Firmen langfristig den größtmöglichen Gewinn ermöglicht.
  Der Algorithmus empfiehlt somit <b>nicht</b> einen Preis, der den höchstmöglichen Gewinn in einer einzelnen Runde erzielt. 
  <b> Es werden Preise empfohlen, die insgesamt über das gesamte Spiel einen hohen Gewinn erzielen.</b><br>
Der Algorithmus selbst ist kein Marktteilnehmer und kann auch keinen Gewinn generieren, <b>er dient nur als Information für alle Teilnehmer.</b>


<br><br>
{% next_button %}
{% endblock %}
  