{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Erklärung{% endblock %}

{% block content %}
In diesem Spiel repräsentieren Sie eine Firma in einem virtuellen Produktmarkt.
 In dem Markt verkaufen zwei weitere Firmen das gleiche Produkt wie Sie.
  Diese Firmen werden von zwei anderen Experiment-Teilnehmern repräsentiert.
   Das Spiel hat mehrere Runden.
    Sie treffen in jeder Runde des Spiels auf dieselben Firmen (also Experiment-Teilnehmer).<br>
        Alle Firmen entscheiden in jeder Runde erneut <b>eigenständig und gleichzeitig</b>,
         für wie viele Taler Sie Ihr Produkt verkaufen möchten.
          Sie können Ihr Produkt für einen Peis von {{Constants.deviation_price}}, 2, … oder {{Constants.maximum_price}} Taler verkaufen (nur ganze Taler). 
          <b>Es gibt keine Produktionskosten.</b> Ihr Gewinn ist das Produkt aus Preis und der Anzahl verkaufter Einheiten. Formal ausgedrückt:
          <br><br>
          <b> Gewinn = Preis x verkaufte Einheiten </b>
          <br><br>
     Der Markt hat {{Constants.m_consumer}} identische Kunden.
      Jeder Kunde möchte in jeder Runde eines Spiels <b>eine Einheit</b> des Produkts möglichst günstig kaufen.
       Jeder Kunde ist bereit bis zu {{Constants.maximum_price}} Taler für diese Einheit des Produkts auszugeben.
<br><br>
 Die Firma mit dem <b>niedrigsten Preis in der jeweiligen Runde</b> verkauft Ihre Produkte. <b>Der niedrigste Preis ist also der Marktpreis in der jeweiligen Runde.</b>
  Firmen mit einem <b>Preis, der größer als der Marktpreis ist, verkaufen Ihre Produkte in der jeweiligen Runde nicht und erhalten daher einen Gewinn von Null.</b>
   Sollten zwei oder alle drei Firmen Ihr Produkt für den gleichen Marktpreis verkaufen wollen,
    teilt sich die Nachfrage gleichmäßig auf die zwei bzw. drei Firmen auf.
<br><br>
<br><br>


<h3> Beispiele </h3>
<b>Beispiel 1:</b>
Firma A setzt einen Preis von 4, Firma B setzt einen Preis von 4, Firma C setzt einen Preis von 6. Somit haben Firma A und B gemeinsam den niedrigsten Preis gesetzt. Firma A und B verkaufen beide die gleiche Anzahl an Produkten, beide Firmen haben jeweils 15 Kunden und bekommen damit den gleichen Gewinn von 60 Talern. Firma C verkauft nichts und hat einen Gewinn von 0. 
<br><br>
    <table class="table">
        <tr align="center">
            <th align="center">  </th>
            <th align="center"> Firma A </th>
            <th align="center"> Firma B </th>
            <th align="center"> Firma C </th>
        </tr>

        <tr align="center">
            <th align="center"> Preise </th>
            <td align="center"> 4 </td>
            <td align="center"> 4 </td>
            <td align="center"> 6 </td>
        </tr>

        <tr align="center">
            <th align="center"> Gewinne </th>
            <td align="center"> 60 </td>
            <td align="center"> 60 </td>
            <td align="center"> 0 </td>
        </tr>
    </table>
<br><br>
<b>Beispiel 2:</b>
Firma A setzt einen Preis von 7, Firma B setzt einen Preis von 7, Firma C setzt einen Preis von 7. Somit haben Firma A, B und C gemeinsam den niedrigsten Preis gesetzt. Sie verkaufen alle die gleiche Anzahl an Produkten (jeweils 10) und bekommen damit den gleichen Gewinn von 70 Talern. 
<br><br>
    <table class="table">
        <tr align="center">
            <th align="center">  </th>
            <th align="center"> Firma A </th>
            <th align="center"> Firma B </th>
            <th align="center"> Firma C </th>
        </tr>

        <tr align="center">
            <th align="center"> Preise </th>
            <td align="center"> 7 </td>
            <td align="center"> 7 </td>
            <td align="center"> 7 </td>
        </tr>

        <tr align="center">
            <th align="center"> Gewinne </th>
            <td align="center"> 70 </td>
            <td align="center"> 70 </td>
            <td align="center"> 70 </td>
        </tr>
    </table>
<br><br>
<b>Beispiel 3:</b>
Firma A setzt einen Preis von 1, Firma B setzt einen Preis von 4, Firma C setzt einen Preis von 10. Somit hat Firma A den niedrigsten Preis gesetzt. Firma A verkauft als einzige das Produkt zu einem Preis von 1 an alle 30 Kunden und bekommt damit einen Gewinn von 30 Talern. Firma B und C verkaufen beide nichts und haben einen Gewinn von 0. 
<br><br>
    <table class="table">
        <tr align="center">
            <th align="center">  </th>
            <th align="center"> Firma A </th>
            <th align="center"> Firma B </th>
            <th align="center"> Firma C </th>
        </tr>

        <tr align="center">
            <th align="center"> Preise </th>
            <td align="center"> 1 </td>
            <td align="center"> 4 </td>
            <td align="center"> 10 </td>
        </tr>

        <tr align="center">
            <th align="center"> Gewinne </th>
            <td align="center"> 30 </td>
            <td align="center"> 0 </td>
            <td align="center"> 0 </td>
        </tr>
    </table>
<br><br>

{% next_button %}
{% endblock %}
