{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Herzlich Willkommen{% endblock %}

{% block content %}
<p>
Hallo und herzlich willkommen zu unserem Experiment.
In diesem Experiment werden Sie an Ihrem Computer Entscheidungen treffen.
Bitte lesen Sie die Instruktionen aufmerksam durch.
Alle Teilnehmer erhalten die gleichen Instruktionen.
Sie können sich diese Instruktionen auch während des Experiments jederzeit anzeigen lassen.
Sie bleiben für uns und für die anderen Experimentteilnehmer völlig anonym.
Wir speichern keine Daten, die mit Ihrem Namen in Verbindung stehen.
</p>
{% include "bertrand/instructions_note.html"%}

{% next_button %}
{% endblock %}
