{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Herzlich Willkommen{% endblock %}

{% block content %}
In diesem Experiment treffen Sie wiederholt Preisentscheidungen.
 Diese ermöglichen es Ihnen echtes Geld zu verdienen.
  Wie viel Sie verdienen ist abhängig von Ihren Entscheidungen und
   denen Ihrer Mitspieler. <b>Unabhängig davon erhalten Sie {{show_up_fee}} für die
    Teilnahme. </b>
<br><br>
Im Experiment verwenden wir eine fiktive Geldeinheit namens Taler.
 Im Anschluss an das Experiment werden die Taler in Euro umgerechnet und Ihnen ausgezahlt.
  <b>Dabei entsprechen {{ exchange_rate }} Taler einem Euro.</b> Die Euro-Beträge werden auf die erste Nachkommastelle gerundet. 
<br><br>

<b>Beispiel:</b><br>
Teilnehmer A hat im Experiment 465 Taler verdient.
 Umgerechnet entspricht das {{ coins_in_euro }} €.
  Auf die erste Nachkommastelle gerundet werden Teilnehmer A {{ coins_in_euro_rounded }} € ausgezahlt.

<br>
<br>
{% next_button %}
{% endblock %}
