{% extends "global/Page.html" %}
{% load otree %}

{% block app_styles %}
    <style>
        .otree-timer {
        display: none;
    }

    </style>
{% endblock %}

{% block app_scripts %}

<script>
    // Soft sound warning for timeout  
    setTimeout(
        function () {
            var audio = new Audio("/static/alarm_sound.wav");
            audio.play();
        },
        {{Constants.timeout_soft|json}}*1000 // *1000 due to miliseconds
    );

    // Show timeout if we passed the soft audio timeout
    $(function () {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            if (event.offset.totalSeconds <= {{Constants.timeout_seconds_left|json}}) {
                $('.otree-timer').show();
            }
        });
    });

</script>
{% endblock %}
