{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Ende des {{super_game_count}}. Spiels {% endblock %}

{% block content %}


    Der Zufallsmechanismus hat entschieden, dass dies die letzte Runde des {{super_game_count}}. Spiels war. 
    Sie haben in diesem Spiel insgesamt <b>{{accumulated_profit}} Taler </b> verdient. <br>
    <br><br>
    {% if super_game_count != 3 %}
    
        Sie spielen jetzt das gleiche Spiel im Folgenden erneut. 
        <br><br>
        {% if super_game_count == 2 %}
            Dies wird der letzte Durchgang sein.
        {% endif %}
        <b>WICHTIG: Beachten Sie, dass sich dabei mit  neuen Mitspielern in einer
        Gruppe sein werden. </b>
        
    {% else %}
    Dies war das letzte Spiel. Bitte klicken Sie auf "Weiter", um noch einige abschließenden Fragen zu beantworten.

    {% endif %}
<br><br>    

    {% next_button %}


{% endblock %}

