{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Ende des {{super_game_count}}. Spiels {% endblock %}

{% block content %}


    Der Zufallsmechanismus hat entschieden, dass dies die letzte Runde des {{super_game_count}}. Spiels war. 
    Sie haben im {{super_game_count}}. Siel insgesamt <b>{{accumulated_profit}} Taler </b> verdient. <br>
    <br><br>
    <br><br>

    {% if super_game_count != 3 %}
    <b>
    
        Sie spielen jetzt das gleiche Spiel erneut. Es besteht wieder eine Wahrscheinlichkeit von 95%, dass nach jeder abgeschlossenen Runde eine weitere Runde gespielt wird.
        <br><br>

        WICHTIG: Beachten Sie, dass Sie im folgenden Spiel mit neuen Mitspielern in einer
        Gruppe sein werden. 
        
        {% if super_game_count == 2 %}
            <br><br>Dies wird der letzte Durchgang sein.
        {% endif %}
        </b>
        
    {% else %}
    Dies war das letzte Spiel. Das Experiment endet jetzt. Bitte beantworten Sie nun noch die folgenden Fragen. Ihre Antworten bleiben anonym und dienen nur zu Forschungszwecken. 

    {% endif %}
<br><br>    

    {% next_button %}


{% endblock %}

