{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Viele Dank für Ihre Teilnahme
{% endblock %}

{% block content %}
    Du hast ingesamt {{player.payoff}} im Verlauf des Experiments verdient. Ein Euro entsprechen dabei {{exchange_rate}} Punkten.  
    Außerdem erhälst du zusätzlich für dein Erscheinen im Experiment {{show_up}}.

    <br><br>
    Deine ingesamte Auszahlung ist also {{player.final_payoff_euro}} €.

    


    Bitte warte bis wir dich aufrufen.
    {% next_button %}
{% endblock %}

