{% load otree %}


  <h3>Durchführungshinweise</h3>
  <p>
    <b>Besonders wichtig:</b> Sollten Sie irgendwelche Fragen haben, melden Sie sich mit Hilfe der Chatfunktion
    in der Webex-Konferenz beim Administrator.
  </p>
  <p>
    Sobald Sie eine Entscheidung auf der jeweiligen Seite getroffen und alle Informationen aufgenommen haben,
    <b>klicken Sie bitte auf den „Weiter“-Button, damit das Experiment fortgesetzt werden kann.</b>
    Sollten Sie für <b>eine längere Zeit keine Eingabe tätigen</b> oder diese Internetseite vorübergehend verlassen,
    werden wir Sie aus dem Experiment entfernen.<br>
    Sie erhalten in diesem Fall <b>keine Bezahlung und werden von zukünftigen Onlineexperimenten ausgeschlossen.</b>
  </p>
