{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Ergebnisse
{% endblock %}

{% block content %}

    <table class="table">
            
        <b>Ergebnisse der aktuellen Runde</b>
        <tr align="center">
            <th align="center">  </th>
            <th align="center"> Sie (Firma {{player.id_in_group}}) </th>
            
            {% for p in opponents %}
                <th> Firma  {{p.id_in_group}} </th>
            {% endfor %}
        </tr>

        <tr align="center">
            <th align="center"> Preise </th>
            <td align="center"> {{player.price}} </td>

            {% for p in opponents %}
                <td align="center"> {{p.price}} </td>

            {% endfor %}
        </tr>
    </table>
    Der Algorithmus hatte allen Firmen einen Preis von {{group.recommendation}} Taler empfohlen.<br>
    Ihr Preis in dieser Runde betrug {{ player.price }} Taler. Der Marktpreis betrug {{ group.winning_price }} Taler. Sie erhalten in dieser Runde einen Gewinn von {{player.profit}} Taler. 

    <br><br>

    {% next_button %}


{% endblock %}
