{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Ergebnisse
{% endblock %}

{% block content %}
    <table class="table">

        <b>Ergebnisse der aktuellen Runde</b>
        <tr>
            <th>  <th>
            <th> Sie (Spieler {{player.id_in_group}})
            
            {% for p in opponents %}
                <th> Spieler  {{p.id_in_group}} </th>
            {% endfor %}
        </tr>

        <tr>
            <th> Preise </th>
            <td> {{player.price}} <td>

            {% for p in opponents %}
                <td> {{p.price}} </td>

            {% endfor %}
        <tr>


        <tr>
            <th> Gewinne </th>
            <td> {{player.profit}} <td>

            {% for p in opponents %}
                <td> {{p.profit}} </td>
            {% endfor %}
        </tr>
    </table>
    
    {% if treatment == 'recommendation'%}
    <b>Zur Erinnerung:</b> Der Algortihmus hatte einen Preis von {{group.recommendation}} empfohlen.<br><br>
    {% endif %}

    Ihr Preis in dieser Runde war {{ player.price }}. Der niedrigste Preis betrug {{ group.winning_price }}.
    {% if player.is_winner %} 
    Da Sie den günstigsten Preis gesetzt haben, haben also gewonnen. 
        {% if group.n_winners == 1 %}
         Da kein anderer Spieler diesen Preis gesetzt hat, erhalten Sie {{ group.winner_profit }}. 
        {% else %}
         Da {{ group.n_winners }} andere Spieler diesen Preis gewählt haben, wird der Profit dieser Runde zwischen den Spielern mit dem niedrigsten Preis aufgeteilt. 
         Jeder erhält {{ group.winner_profit }}. 
        {% endif %}
    
     {% else %}
     Sie haben daher ihr Produkt nicht verkauft und erhalten einen Gewinn von {{player.profit}} Taler.
     {% endif %}

    Insgesamt haben Sie {{ player.accumulated_profit }} Taler in allen Perioden erwirtschaftet.
    <br><br>
    {% next_button %}


{% endblock %}
