{% extends "global/Page.html" %}
{% load otree %}

{% block title %}{% endblock %}

{% block content %}

    <center>
    <b>Klicken Sie auf "Weiter" um mit dem {{super_game_count}}. von drei Spielen zu beginnen.
    <br><br>    
    Sie sind Firma {{player.id_in_group}} in Ihrer Gruppe aus ingesamt drei Firmen. Ihre Mitspieler werden sich innerhalb dieses Spiels nicht ändern. 
    
    {% if  super_game_count != 1 %}
    <br><br>
    Beachten Sie, dass sich die Mitspieler in Ihrer Gruppe im Vergleich zum letzten Spiel geändert haben.

    {% endif %}
    <br><br>
    </b>
    {% next_button %}

    </center>


{% endblock %}

