{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Viele Dank für Ihre Teilnahme
{% endblock %}

{% block content %}
Das Experiment endet jetzt.<br><br> 


    <table class="table">

<tr> <th> Gewinn im ersten Spiel </th> <td> {{payoff_sg_1}} Taler </td> </tr>
<tr> <th> Gewinn im zweiten Spiel </th> <td>  {{payoff_sg_2}} Taler </td> </tr>
<tr> <th> Gewinn im dritten Spiel </th> <td>  {{payoff_sg_3}} Taler </td> </tr>
</table>
<br>
Ein Zufallsmechanismus hat entschieden, dass das {{payed_sg}}. Spiel ausgezahlt wird.
<br><br>
Ein Euro entsprechen dabei {{exchange_rate|c}}. 
Außerdem erhalten Sie zusätzlich für Ihr Erscheinen zum Experiment {{show_up|floatformat:2}} Euro.  
  
<br><br>
<b> Als zusätzlichen finanziellen Bonus in der aktuellen COVID19-Pandemie zahlen wir Ihnen weitere {{corona_bonus_after_end|floatformat:2}} Euro. Danke, dass Sie an diesem Experiment teilgenommen haben. </b>

   <br><br>
 <b> Ihre gesamte Auszahlung ist also {{final_money_no_show_up|floatformat:2}} Euro + {{show_up|floatformat:2}} Euro (Bonus für Ihr Erscheinen) + 
     {{corona_bonus_after_end|floatformat:2}} Euro (Corona-Bonus) = {{final_money_with_show_up_and_corona|floatformat:2}} Euro.</b>
   <br><br>

    


Die Teilnehmer werden nun nacheinander nach vorne gebeten, um Ihnen den Gewinn auszuzahlen. Warten Sie bitte an Ihrem Platz, bis Sie an der Reihe sind. 
{% endblock %}

